<div class="footer-section">
    <p>Peter Steinlesberger &#169;2022</p>
    <a routerLink="/imprint">Impressum & Data protection</a>
    <div class="icon-container">
        <a href="https://github.com/PeterSteinlesberger?tab=overview&from=2021-12-01&to=2021-12-31" target="_blank"
        (mouseenter)="changeImg=true" (mouseleave)="changeImg=false"> 
            <img *ngIf="!changeImg"  class="icon" src="assets/img/Icons/github_white.png">
            <img *ngIf="changeImg"  class="icon" src="assets/img/Icons/github_blue.png">
          </a>  
          <a href="https://www.linkedin.com/in/peter-steinlesberger-a84067229/" target="_blank"
          (mouseenter)="changeIn=true" (mouseleave)="changeIn=false"> 
            <img *ngIf="!changeIn"  class="icon" src="assets/img/Icons/linkedin_white.png">
            <img *ngIf="changeIn"  class="icon" src="assets/img/Icons/linkedin_blue.png">
          </a>  
    </div>
</div>