.footer-section {
    position: relative;
    left: 0;
    right: 0;
    height: 74px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    background-color: black;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: rgb(0, 123, 255);
        }
    }
}

.icon-container {
    width: 72px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}

.icon {
    height: 30px;
    width: 30px;
}



/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1500px) {
  
}

@media only screen and (max-width: 1200px ) {
 
}

@media only screen and (max-width: 1024px ) {

}

@media only screen and (max-width: 768px ) {

}

@media only screen and (max-width: 480px ) {

}

@media only screen and (min-width: 320px ) {

}
