.footer-section {
    position: relative;
    left: 0;
    right: 0;
    height: 74px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    background-color: black;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: rgb(0, 123, 255);
        }
    }
}

.icon-container {
    width: 76px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}

.icon {
    height: 32px;
    width: 32px;
}
