.project-section {
    background-color: rgb(33, 33, 34);
 //   background-color: black;
    width: 100%;
    padding-top: 135px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.headline {
    margin-top: 0px;
}

.project-container {
    display: flex;
justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
   padding-left: 300px;
  padding-right: 300px;
    margin-bottom: 50px;
    box-sizing: border-box;
    line-height: 24px;
    background-color: rgba(67, 67, 68, 0.1);

}

.project-img {
    height: 400px;
    width: 600px;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 500px;
}
.btn-container {
    display: flex;
    margin-top: 40px;

}

.project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    margin: 20px;
    color: white;
    border: solid 3px white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 19px;
    text-decoration: none;
    transition: all 155ms ease-in-out;

    &:hover {
        background-color: rgba(0, 123, 255, 0.2);
        border: solid 3px rgb(0, 123, 255);
        color: rgb(0, 153, 255);
    }
}

    