<div id="portfolio" class="project-section">
    <h2 data-aos="zoom-out-up">My works</h2>
    <!-- First project -->
    <div class="project-container">
        <div class="transform-container">
            <img data-aos-delay="200" data-aos="fade-right" class="project-img"
                src="assets/img/project-images/Kiss_project.PNG">
        </div>
        <div class="content-container">
            <h3 class="headline" data-aos="fade-left">KISS PROJECT</h3>
            <span data-aos-delay="100" data-aos="fade-left">This is a kanban board to keep daily life simple and
                organized.-
                In one Word: "KISS"
                -- 'K'eep 'I't 'S'hort and 'S'imple.
            </span>
            <div class="btn-container">
                <a data-aos-delay="200" data-aos="fade-left" class="project-btn" target="_blank"
                    href="https://github.com/PeterSteinlesberger/KISS-Project">Github</a>
                <a data-aos-delay="150" data-aos="fade-left" class="project-btn" target="_blank" href="#">Try out</a>
            </div>
        </div>
    </div>
    <!-- Second project -->
    <div class="project-container-flexreverse">
        <div class="content-container">
            <h3 class="headline" data-aos="fade-right">Ring of fire</h3>
            <span data-aos-delay="100" data-aos="fade-right">This is a online version from the popular drinking card
                game. <br>
                Built with Angular and Material Design.
            </span>
            <div class="btn-container">
                <a data-aos-delay="150" data-aos="fade-right" class="project-btn" target="_blank"
                    href="https://github.com/PeterSteinlesberger/Ring-of-fire">Github</a>
                <a data-aos-delay="200" data-aos="fade-right" class="project-btn" target="_blank" href="#">Try out</a>
            </div>
        </div>
        <div class="transform-container">
            <img data-aos-delay="200" data-aos="fade-left" class="project-img"
                src="assets/img/project-images/Ring_of_fire_shadow.png">
        </div>
    </div>
    <!-- Third project -->
    <div class="project-container">
        <div class="transform-container">
            <img data-aos-delay="200" data-aos="fade-right" class="project-img"
                src="assets/img/project-images/el_pollo_loco.PNG">
        </div>
        <div class="content-container">
            <h3 class="headline" data-aos="fade-left">El pollo loco </h3>
            <span data-aos-delay="100" data-aos="fade-left">This is a 2D jump n run game.
                The aim is to collect bottles of "very" spicy tabascosouce in order to be the "final boss"
                - kill the angry endboss.</span>
            <div class="btn-container">
                <a data-aos-delay="200" data-aos="fade-left" class="project-btn" target="_blank"
                    href="https://github.com/PeterSteinlesberger/El-pollo-loco">Github</a>
                <a data-aos-delay="150" data-aos="fade-left" class="project-btn" target="_blank" href="#">Try out</a>
            </div>
        </div>
    </div>
    <!-- Fourth project -->
    <div class="project-container-flexreverse">
        <div class="content-container">
            <h3 class="headline" data-aos="fade-right">My webpage</h3> <br>
            <span data-aos-delay="100" data-aos="fade-right">This Portfoliowebpage was built with Angular and passion.</span>
            <div class="btn-container">
                <a data-aos-delay="150" data-aos="fade-right" class="project-btn" target="_blank"
                    href="https://github.com/PeterSteinlesberger/petersteinlesberger.com">Github</a>
                <a data-aos-delay="200" data-aos="fade-right" class="project-btn" href="#contact">Contact</a>
            </div>
        </div>
        <div class="transform-container">
        <img data-aos-delay="200" data-aos="fade-left" class="project-img"
            src="assets/img/project-images/my_portfoliopage.PNG">
        </div>
    </div>
</div>