<div class="project-section">
    <h2>My work</h2>
        <div class="project-container">
            <img class="project-img" src="assets/img/projects/historical NFT.PNG">
            <div class="content-container">
                <h3>NFT History</h3> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta suscipit nemo perspiciatis sapiente fuga
                reprehenderit neque, ut obcaecati, cum sit earum voluptatibus quaerat quod corrupti blanditiis ea
                dolorem, delectus quo.
                <div class="btn-container">
                    <a class="project-btn" href="#">JS DOC</a>
                    <a class="project-btn" href="#">Try out</a>
                </div>
            </div>
        </div>
        <div class="project-container">
            <div class="content-container">
                <h3>NFT History</h3> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta suscipit nemo perspiciatis sapiente fuga
                reprehenderit neque, ut obcaecati, cum sit earum voluptatibus quaerat quod corrupti blanditiis ea
                dolorem, delectus quo.
                <div class="btn-container">
                    <a class="project-btn" href="#">JS DOC</a>
                    <a class="project-btn" href="#">Try out</a>
                </div>
            </div>            
            <img class="project-img" src="assets/img/projects/historical NFT.PNG">
        </div>
        <div class="project-container">
            <img class="project-img" src="assets/img/projects/historical NFT.PNG">
            <div class="content-container">
                <h3>NFT History</h3> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta suscipit nemo perspiciatis sapiente fuga
                reprehenderit neque, ut obcaecati, cum sit earum voluptatibus quaerat quod corrupti blanditiis ea
                dolorem, delectus quo.
                <div class="btn-container">
                    <a class="project-btn" href="#">JS DOC</a>
                    <a class="project-btn" href="#">Try out</a>
                </div>
            </div>
        </div>
        <div class="project-container">
            <div class="content-container">
                <h3>NFT History</h3> <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta suscipit nemo perspiciatis sapiente fuga
                reprehenderit neque, ut obcaecati, cum sit earum voluptatibus quaerat quod corrupti blanditiis ea
                dolorem, delectus quo.
                <div class="btn-container">
                    <a class="project-btn" href="#">JS DOC</a>
                    <a class="project-btn" href="#">Try out</a>
                </div>
            </div>
            <img class="project-img" src="assets/img/projects/historical NFT.PNG">
        </div>
    </div>