<div class="project-container">
    <h2>My work</h2>
    <div class="buttons-container">
        <a class="project-btn" href="#">All</a>
        <a class="project-btn" href="#">Angular</a>
        <a class="project-btn" href="#">Java script</a>
    </div>
    <div class="projects-container">
       <img class="project-img" src="assets/img/projects/historical NFT.PNG">
       <img class="project-img" src="assets/img/projects/historical NFT.PNG">
       <img class="project-img" src="assets/img/projects/historical NFT.PNG">
       <img class="project-img" src="assets/img/projects/historical NFT.PNG">
    </div>
</div>