.project-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 33, 34);
    width: 100%;
    padding-top: 90px;
    box-sizing: border-box;
    overflow: hidden;
}

.headline {
    margin-top: 52px;
    margin-bottom: 0;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 348px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 50px;
    box-sizing: border-box;
    line-height: 24px;
    background-color: rgba(67, 67, 68, 0.3);
}

.project-container-flexreverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 348px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 50px;
    box-sizing: border-box;
    line-height: 24px;
    background-color: rgba(67, 67, 68, 0.3);
}

.project-img {
    height: 300px;
    width: 475px;
}

.transform-container {
    transition: transform 200ms;
    position: relative;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 375px;
    padding: 0px !important;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    margin: 20px 20px 0 20px;
    color: white;
    border: solid 3px white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 19px;
    text-decoration: none;
    transition: all 85ms ease-in-out;
    &:hover {
        background-color: rgba(0, 123, 255, 0.2);
        border: solid 3px rgb(0, 123, 255);
        color: rgb(0, 153, 255);
    }
}

.under-construction {
    color: red;
    border: solid 2px red;
    background-color: rgba(255, 0, 0, 0.2);
    &:hover {
        color: red;
        border: solid 2px red;
        background-color: rgba(255, 0, 0, 0.2);
    }
}

.construction-info {
    position: absolute;
    top: 142px;
    left: 10px;
    font-size: 28px;
    transform: rotate(-32deg);
    /* Safari */
    -webkit-transform: rotate(-32deg);
    /* Firefox */
    -moz-transform: rotate(-32deg);
    /* IE */
    -ms-transform: rotate(-32deg);
}

/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1860px) {
    .content-container {
        padding-top: 54px;
        padding-bottom: 54px;
        height: 300px;
    }

    .project-img {
        height: 300px;
        width: 475px;
    }
}

@media only screen and (max-width: 1500px) {
    .project-container {
        padding-left: 180px;
        padding-right: 180px;
    }

    .project-container-flexreverse {
        padding-left: 180px;
        padding-right: 180px;
    }

    .content-container {
        height: 300px;
        width: 375px;
    }

    .project-img {
        height: 300px;
        width: 475px;
    }
}

@media only screen and (max-width: 1260px) {
    .project-container {
        height: unset;
        padding: 24px 140px 24px 140px;
    }

    .project-container-flexreverse {
        height: unset;
        padding: 24px 140px 24px 140px;
    }
}

@media only screen and (max-width: 1200px) {
    .project-container {
        flex-direction: column;
    }

    .project-container-flexreverse {
        flex-direction: column-reverse;
        height: unset;
        padding: 24px 140px 24px 140px;
    }

    .content-container {
        padding-top: 54px;
        padding-bottom: unset;
        height: 250px;
    }

    .headline {
        margin-top: 36px;
    }
}

@media only screen and (max-width: 768px) {
    .content-container {
        height: 240px;
        width: 380px;
    }

    .project-img {
        height: 240px;
        width: 380px;
    }

    .project-container-flexreverse {
        flex-direction: column-reverse;
        height: unset;
        padding: 16px 100px 16px 100px;
    }

    .headline {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .construction-info {
        top: 112px;
        left: 10px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 580px) {
    .content-container {
        height: unset;
        width: 240px;
    }

    .project-img {
        height: 192px;
        width: 280px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin-top: 24px;
        padding: 0;
        a {
            margin: 0;
        }
    }

    .project-btn {
        width: 112px;
        height: 42px;
        margin: 16px;
        font-size: 19px;
    }

    .headline {
        font-size: 26px;
    }

    .project-container {
        width: 320px;
        padding: 16px;
        height: unset;
        justify-content: flex-start;
    }

    .project-container-flexreverse {
        width: 320px;
        padding: 16px;
    }
    .construction-info {
        top: 84px;
        left: 2px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 480px) {
    .content-container {
        height: unset;
        width: 236px;
    }

    .project-img {
        height: 154px;
        width: 236px;
    }

    .headline {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .project-btn {
        width: 90px;
        height: 34px;
        margin: 16px;
        font-size: 18px;
    }

    .project-container {
        width: 268px;
        padding: 16px;
        height: unset;
    }

    .project-container-flexreverse {
        width: 268px;
        height: unset;
    }

    .btn-container {
        width: 236px;
    }

    .construction-info {
        position: absolute;
        top: 10px;
        left: 14px;
        font-size: 16px;
        transform: rotate(0deg);
        /* Safari */
        -webkit-transform: rotate(0deg);
        /* Firefox */
        -moz-transform: rotate(0deg);
        /* IE */
        -ms-transform: rotate(0deg);
    }
}
