.logo {
    height: 50px;
    width: 90px;
    &:hover {
        cursor: pointer;
    }
}

.active {
    color: rgb(0, 123, 255) !important;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    height: 74px;
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 100;
    transition: all 125ms linear;
}

/* -----------------------------------------------------------*/
/* --------------------- Hamburger Menu ----------------------*/
/*------------------------------------------------------------*/

.top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    background-color: black;

    .menu {
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 16px;
        padding: 0;
        max-height: 0;
        background-color: rgba(0, 0, 0, 0.65);
        transition: max-height 250ms ease-out;

        li a {
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            padding: 12px 0;
            color: white;
        }

        li a:hover {
            color: rgb(0, 123, 255);
        }
    }

    .menu-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 25px;

        .navicon {
            background: white;
            display: block;
            height: 2px;
            position: relative;
            width: 1.625rem;

            &:before,
            &:after {
                background: white;
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                transition: all 125ms ease-out;
                width: 100%;
            }

            &:before {
                top: 7px;
            }

            &:after {
                top: -7px;
            }
        }
    }

    .menu-btn {
        display: none;

        &:checked ~ .menu {
            max-height: 800px;
        }

        &:checked ~ .menu-icon .navicon {
            background: transparent;

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        &:checked ~ .menu-icon:not(.steps) .navicon {
            &:before,
            &:after {
                top: 0;
            }
        }
    }
}

/* Desktop Menu */
@media (min-width: 800px) {
    .top-nav .menu {
        width: auto;
        max-height: none;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-nav .menu-icon {
        display: none;
    }

    .top-nav .menu li a {
        padding: 0;
    }
}

/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 2000px) {
    .top-nav .menu {
        width: 600px;
    }
}

@media only screen and (max-width: 1800px) {
}

@media only screen and (max-width: 1650px) { 
    .top-nav .menu {
        width: 518px;
    }
}

@media only screen and (max-width: 1500px) {
    header {
        padding: 0px 180px 0px 180px;
    }
    .top-nav .menu {
        width: 500px;
    }
}

@media only screen and (max-width: 1400px) {
    .top-nav .menu {
        width: 444px;
    }
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0px 140px 0px 140px;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        padding: 0px 80px 0px 80px;
    }
}

@media only screen and (max-width: 880px) {
    .logo {
        height: 40px;
        width: 72px;
    }
}

@media only screen and (max-width: 799px) {
    .top-nav .menu {
          width: 100%;
      }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0px 48px 0px 48px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 0px 24px 0px 24px;
        height: 54px;
    }

    .top-nav {
        height: 36px;
    }

    .top-nav .menu {
        margin-top: 6px;
      }

    .logo {
        height: 35px;
        width: 64px;
    }

    .top-nav .menu li a {
       font-size: 18px;
    }
}
