header {
    height: 12vh;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    height: 45px;
    width: 75px;
}

.menu {
    position: relative;
    width: 440px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    a {
        font-size: 18px;
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(0, 123, 255);
        }
    }
}
