header {
    position: fixed;
    left: 0;
    right: 0;
    height: 74px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: all 125ms linear;
}


.logo {
    height: 50px;
    width: 90px;
}


.menu {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: space-between; 
    a {
        font-size: 14px;
        text-decoration: none;
        color: white;
       // transition: all 100ms linear;
        &:hover {
            color: rgb(0, 123, 255);
        }
    }
}

.active {
    color: rgb(0, 123, 255);
   // font-size: 16px;
}
