<header id="navbar" class="header" (scroll)="onWindowScroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <a href="#home"  (mouseenter)="changeImg=true" (mouseleave)="changeImg=false"> 
    <img *ngIf="!changeImg"  class="logo" src="assets/img/Logo/Logo_whiteNEW.png">
    <img *ngIf="changeImg"  class="logo" src="assets/img/Logo/Logo_blueNEW.png">
  
  </a>  
    <div class="menu">
<a routerLink="#home">HOME</a>
<a routerLink="#skills">SKILLS</a>
<a routerLink="#portfolio">PORTFOLIO</a>
<a routerLink="#aboutme">ABOUT ME</a>
<a routerLink="#contact">CONTACT</a>
    </div>
</header>
