<div id="skills" class="skills-container">
    <h2 data-aos="zoom-out-up" class="h2">My skills</h2>
    <div class="overview-container">
        <div data-aos-duration="300" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="200" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/Java_script.png">
            </div>
            <p data-aos-delay="400" data-aos="flip-down">Java script</p>
        </div>
        <div data-aos-duration="350" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="250" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/Angular.png">
            </div>
            <p data-aos-delay="450" data-aos="flip-down">Angular</p>
        </div>
        <div data-aos-duration="400" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="300" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/HTML5.png">
            </div>
            <p data-aos-delay="500" data-aos="flip-down">HTML/SCSS</p>
        </div>
        <div data-aos-duration="450" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="350" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/Git.png">
            </div>
            <p data-aos-delay="550" data-aos="flip-down">Git</p>
        </div>
        <div data-aos-duration="500" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="400" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/Rest_API.png">
            </div>
            <p data-aos-delay="600" data-aos="flip-down">Rest API</p>
        </div>
        <div data-aos-duration="550" data-aos="fade-up-left" class="skill-container">
            <div data-aos-delay="450" data-aos="fade-down" class="img-container">
                <img class="skill-img" src="assets/img/Skills/database.png">
            </div>
            <p data-aos-delay="650" data-aos="flip-down">Database</p>
        </div>
    </div>
</div>