.skills-container {
    height: 100vh;
    padding-top: 90px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-container {
    width: 1200px;
    height: 460px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-container {
    height: 140px;
    width: 240px;
    margin-left: 28px;
    margin-right: 28px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
}

.img-container {
    background-color: white;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -40px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.skill-img {
    width: 40px;
}

.center {
    display: flex;
    justify-content: center;
}

.larger-img {
    width: 50px;
}
