<div class="skills-container">
    <h2 class="h2">MY Skills</h2>
    <div class="overview-container">

        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/Java_script.png">
            </div> 
            <p>Java script</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/Angular.png">
            </div> 
            <p>Angular</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/HTML5.png">
            </div> 
            <p>HTML/SCSS</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/SCRUM.png">
            </div> 
            <p>SCRUM</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/Git.png">
            </div> 
            <p>Git</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" style="width: 50px" src="assets/img/Skills/design_thinking.png">
            </div> 
            <p>Design Thinking</p>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/java script.png">
            </div> 
            <p>Java script</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/java script.png">
            </div> 
            <p>Java script</p>
        </div>
        <div class="skill-container">
            <div class="img-container">
               <img class="skill-img" src="assets/img/Skills/java script.png">
            </div> 
            <p>Java script</p>
        </div>


    </p>
</div>