.main-section-container {
    background-color: black;
    height: 88vh;
    width: 100%;
}

.profile-img {
    position: relative;
    height: 76vh;
    width: 50vw;
    object-fit: cover;
    object-position: 80% 20%;
    z-index: 1;
}

.opacity-container {    
    position: absolute;
    top: 0;
    right: 0; 
    width: 62vw;
    height: 100vh;
    background-color: rgb(24, 24, 35, 0.5);
   
}

.h1 {
    position: relative;
     font-size: 76px;
     margin-top: 300px;
   padding-right: 300px;
     color: white;
     z-index: 4;
}

.name-color {
    color: rgb(0, 123, 255);
}
