<div id="home" class="main-section-container">
    <img data-aos-duration="600" data-aos-delay="200" data-aos="fade-right" class="profile-img"
        src="assets/img/main-img.png">
</div>
<div data-aos-duration="600" data-aos="fade-left" class="opacity-container">
    <p class="h1">
        Hi, <br>
        I'm <span class="name-color">Peter</span> Steinlesberger <br>
        Front End Developer <br>
    </p>
    <!-- Contact-Btn -->
    <div class="contact-container">
        <a data-aos-delay="800" data-aos="fade-down" href="#contact" class="contact-btn arrow"
            (mouseenter)="changeImg= true" (mouseleave)="changeImg= false">
            <p data-aos-delay="150" data-aos="fade-down" class="btn-text">CONTACT</p>
            <p data-aos-delay="150" data-aos="fade-down" class="btn-text">ME</p>
            <img data-aos="fade-down" *ngIf="!changeImg" class="arrow-img" src="assets/img/Icons/arrow_down_orange.png">
            <img data-aos="fade-down" *ngIf="changeImg" class="arrow-img" src="assets/img/Icons/arrow_down_blue.png">
        </a>
    </div>
</div>