.main-section-container {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.profile-img {
    position: absolute;
    top: 130px;
    height: 500px;
    width: 40vw;
    object-fit: cover;
    object-position: 0% 70%;
    z-index: 1;
}

.opacity-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 66vw;
    height: 90vh;
    background-color: rgba(67, 67, 68, 0.5);
}

.h1 {
    position: relative;
    font-size: 74px;
    padding-right: 300px;
    margin-top: 268px;
    margin-left: -7px;
    color: white;
    z-index: 4;
    animation: an 1s ease-out 1 both;
}

.name-color {
    color: rgb(0, 123, 255);
}

span {
    display: inline-block;
    animation: an 800ms ease-out 1 both;
}

@keyframes an {
    from {
        opacity: 0;
        transform: perspective(400px) translate3d(-25px, -50px, -120px) rotate3d(1, -1, 0, 40deg);
    }
    to {
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.arrow {
    bottom: -23px;
}

.contact--container {
    width: 100%;
    display: flex;
    justify-content: center;
}



/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 599px) {

}

@media only screen and (min-width: 600px ) {

}

@media only screen and (min-width: 980px ) {

}

@media only screen and (min-width: 1260px ) {

}
 
