<div id="home" class="main-section-container">
<img data-aos-duration="600" data-aos-delay="200" data-aos="fade-right" class="profile-img" src="assets/img/main-img.png" >
</div>
<div data-aos-duration="600" data-aos="fade-left" class="opacity-container">
    <p class="h1">
   Hi, <br>
I'm <span class="name-color">Peter</span> Steinlesberger <br>
Front End Developer <br>
    </p>
<div  data-aos-duration="600" data-aos-delay="400" data-aos="fade-left" class="btn"><a href="#contact">Contact me</a></div>
</div>


