.contact-section {
    height: 84vh;
    width: 100%;
    padding-top: 84px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: rgb(33, 33, 34);
    font-size: 19px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 413px;
    width: 444px;
    line-height: 26px;
}

.font-size {
    font-size: 54px;
    color: rgb(0, 110, 255);
    margin-bottom: 60px;
    margin-top: 69px;
}

.contact-form-container {
    height: 500px;
    width: 600px;
}

.text-color {
    margin-bottom: 2px;
    margin-top: 30px;
    color: rgb(255, 153, 0);
    font-size: 16px;
}

.input-field {
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    &:focus {
        box-shadow: none;
        outline: none;
        border: solid 1px rgb(0, 110, 255);
    }
}

input::-webkit-input-placeholder {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input,
textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 16px;
    box-sizing: border-box;
}

.textarea {
    min-height: 150px;
    resize: none;
    overflow: auto;
}

.contact-button {
    height: 70px;
    width: 100%;
    margin-top: 40px;
    font-size: 17px;
    border: solid 2px rgb(255, 153, 0);
    color: rgb(255, 163, 24);
    background-color: rgba(255, 153, 0, 0.1);
    transition: all 85ms ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: rgba(0, 110, 255, 0.2);
        color: rgb(0, 110, 255);
        border: solid 2px rgb(0, 110, 255);
    }
}

.info-sent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    background-color: rgba(0, 110, 255, 0.2);
    color: rgb(0, 110, 255);
    border: solid 2px rgb(0, 110, 255);
    animation: animateToWhite 1100ms ease-out 1 both;
}

@keyframes animateToWhite {
    from {
        opacity: 0.8;
        transform: skew(67deg);
    }
    to {
        opacity: 1;
        transform: skew(180deg);
        border: solid 2px rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.20);
    }
}

.info-message {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    border: solid 2px rgb(255, 153, 0);
    color: rgb(255, 163, 24);
    background-color: rgba(255, 153, 0, 0.1);
    animation: animateToBlue 1100ms ease-out 1 both;
}

@keyframes animateToBlue {
    from {
        opacity: 0.8;
        transform: skew(67deg);
    }
    to {
        opacity: 1;
        transform: skew(180deg);
        background-color: rgba(0, 110, 255, 0.2);
        color: rgb(0, 110, 255);
        border: solid 2px rgb(0, 110, 255);
    }
}

.input-headline {
    display: flex;
    align-items: flex-end;
}

.mark-icon {
    height: 17px;
    margin-left: 6px;
    margin-bottom: 2px;
}

.error-messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    background-color: blackrgba(0, 0, 0, 0.25);
    color: rgb(255, 163, 24);
    border: solid 1px rgb(255, 163, 24);
    font-size: 16px;
    box-sizing: border-box;
    animation: animateAlertBox 900ms ease-out 1 both;
}

@keyframes animateAlertBox {
    from {
        opacity: 0.6;
        transform: skew(67deg);
    }
    to {
        opacity: 1;
        transform: skew(180deg);
        background-color: black;
        color: rgb(218, 11, 11);
        border: solid 1px rgb(218, 11, 11);
    }
}
