
<div id="contact" class="about-section">
    <div class="contact-text-container">
       <h2 class="h2 font-size">Let's talk business</h2>
       <p>Now that you know a lot about me, let me know if you are interested to work with me.</p>
    </div>
    <div class="contact-form-container">
         <form action="" onsubmit="">
            <p class="text-color">Name</p>
            <input class="input-field" type="text">
            <p class="text-color">Email</p>
            <input class="input-field" type="text">
            <p class="text-color">Message</p>
            <input class="input-field dialogbox" type="text"> <br>
            <button class="contact-button">LET'S GET STARTET</button>
         </form>
    </div>
 </div> 