.project-section {
    width: 100%;
    height: unset;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.content-container {
    width: 100%;
    padding-top: 65px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: black;
    box-sizing: border-box;
    line-height: 24px;
}

.about-img-container {
    width: 100%;
    padding-top: 24px;
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
    overflow: hidden;
}

.about-img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.position-container {
    position: relative;
}

.motto-container {
    display: flex;
    height: 48px;
    width: 100%;
    margin-top: 26px;
    font-size: 28px;
    line-height: 36px;
}

.motto-text {
    color: white;
}

.second-text-container {
    line-height: 24px;
}

.try-the-impossilbe {
    color: white;
    animation: animateBlue 900ms 1 both;
    animation-delay: 3s;
}

@keyframes animateBlue {
    from {
        transform: skew(180deg);
    }
    to {
        transform: skew(360deg);
        color: rgb(0, 123, 255);
    }
}

.info-container {
    position: absolute;
    top: 18px;
    right: -32px;
    width: 324px;
    height: 200px;
    font-size: 16px;
    padding: 8px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(33, 33, 34, 0.65);
    p {
        font-size: 16px;
    }
}

.text-style {
    margin-bottom: 2px;
    margin-top: 20px;
    color: rgb(255, 153, 0);
    font-size: 14px;
}

.signature-img {
    height: 80px;
    margin-left: -2px;
    margin-top: 28px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-btn {
    position: unset;
    width: 60px;
    padding-bottom: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 163, 24);
    text-decoration: none;
    transition: linear 125ms;
    &:hover {
        color: rgb(0, 153, 255);
    }
}

.responsive-margin-top {
    margin-top: 0px;
}

.transform-container {
    transition: transform 425ms;
}

/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1500px) {
    .content-container {
        padding: 0 180px;
    }

    .about-img-container {
        padding: 24px 180px;
    }

    .signature-container {
        padding: 0 180px 0px 180px;
    }
}

@media only screen and (max-width: 1200px) {
    .content-container {
        padding: 0 140px;
    }

    .about-img-container {
        padding: 24px 140px;
    }

    .signature-container {
        padding: 0 140px 0px 140px;
    }

    .info-container {
        width: 302px;
        font-size: 16px;
        padding: 12px 20px 30px 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .content-container {
        padding: 0px 80px;
        height: unset;
    }

    .about-img-container {
        padding: 24px 80px;
    }

    .info-container {
        right: -34px;
        height: 172px;
        font-size: 16px;
        padding: 0px 12px 10px 20px;
    }

    .text-style {
        margin-top: 10px;
        color: #ff9900;
        font-size: 14px;
    }

    .signature-container {
        padding: 0 80px;
    }
}

@media only screen and (max-width: 940px) {
    .about-img-container {
        height: unset;
    }

    .info-container {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .content-container {
        padding: 0px 48px;
    }

    .about-img-container {
        padding: 24px 48px;
    }

    .about-img {
        height: unset;
    }

    .signature-container {
        padding: 0 48px 0px 48px;
    }
}

@media only screen and (max-width: 680px) {
    .btn-container {
        margin-top: 28px;
    }

    .motto-container {
        display: block;
        margin-top: 126px;
    }

    .second-text-container {
        margin-top: 42px;
    }
}

@media only screen and (max-width: 580px) {
    .about-img-container {
        font-size: 20px;
    }

    .signature-img {
        height: 66px;
        margin-left: -2px;
        margin-top: 14px;
    }

    .motto-container {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 530px) {
    .transform-container {
        &:hover {
            padding-top: 40px;
            margin-top: 40px;
            -ms-transform: scale(2.8); /* IE 9 */
            -webkit-transform: scale(2.8); /* Safari 3-8 */
            transform: scale(2.8);
        }
    }

    .motto-container {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 480px) {
    .content-container {
        padding: 0px 24px;
        font-size: 22px;
    }

    .about-img-container {
        padding: 12px 24px;
    }

    .signature-container {
        padding: 0 24px;
    }
}

@media only screen and (max-width: 394px) {
    .motto-container {
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px) {
    .info-container {
        display: flex;
        right: 0px;
        top: 322px;
        width: 100%;
        height: 220px;
        font-size: 17px;
        padding-left: 12px;
    }

    .second-text-container {
        margin-top: 334px;
    }

    .motto-container {
        margin-top: 28px;
    }
}
