<div id="aboutme" class="project-section">
    <h2 data-aos="zoom-out-up">About me</h2>
    <div class="content-container">
        <p data-aos-delay="200" data-aos-duration="300" data-aos="flip-up">Welcome to my webapp!</p>
        <p data-aos-delay="250" data-aos-duration="300" data-aos="flip-up">If you are looking for a highly motivated, reliable and agile Junior Frontend Developer with a lot of life experience for your team, then you are at the right place.</p>
        <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up">My name is Peter Steinlesberger, I am a native Austrian and 44 years old.</p>
        <p data-aos-delay="350" data-aos-duration="300" data-aos="flip-up">I love life with all its challenges and enjoy the little free time I have with my family of 6 to the fullest.</p>
        <p data-aos-delay="400" data-aos-duration="300" data-aos="flip-up">Since 2003 I am regularly drawn to distant countries. Between 2007 and 2010 I used the time to play poker professionally and also as a digital nomad. In 2010 the great love brought me to Germany. Last year we decided to live as digital nomads. Currently we live in Paraguay and are planning our next travel destination.</p>
    </div>
    <div class="about-img-container">
        <div class="position-container">
        <img data-aos-delay="200" data-aos="fade-right" class="about-img" src="assets/img/bali_volcano.png">
        <div class="motto-container">
           <div class="try-the-impossilbe"> Try the impossible</div><div class="motto-text">to reach the best possible!</div>
        </div>
        <div data-aos-delay="400" data-aos="fade-left" class="info-container">
            <p data-aos-delay="500" data-aos="fade-left" class="text-style">E M A I L</p>
            <span data-aos-delay="650" data-aos="fade-left">PeterSteinlesberger@mail.de</span>
            <p data-aos-delay="550" data-aos="fade-left" class="text-style">R O L E</p>
            <span data-aos-delay="700" data-aos="fade-left">Frontend Developer</span>
            <p data-aos-delay="600" data-aos="fade-left" class="text-style">P H O N E</p>
            <span data-aos-delay="750" data-aos="fade-left">+49 (0)176 985 331 222</span>
        </div>
    </div>
   
    <div class="">
        <p data-aos-delay="100" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="150" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="200" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="250" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="350" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="400" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="450" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="500" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="550" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="600" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="650" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="700" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="750" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="800" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="850" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="900" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="950" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="1000" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="100" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="150" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="200" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="250" data-aos-duration="300" data-aos="flip-up"></p>
        <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up"></p>
    </div>


    
     <img data-aos-delay="150" data-aos="fade-down" class="signature-img"
            src="assets/img/white_signature.png">
    <!-- Contact Btn -->
    <a href="#contact" class="contact-btn" (mouseenter)="changeImg= true" (mouseleave)="changeImg= false">
        <p data-aos-delay="150" data-aos="fade-down" class="btn-text">CONTACT</p>
        <p data-aos-delay="150" data-aos="fade-down" class="btn-text">ME</p>
        <img data-aos="fade-down" *ngIf="!changeImg" class="arrow-img" src="assets/img/Icons/arrow_down_orange.png">
        <img data-aos="fade-down" *ngIf="changeImg" class="arrow-img" src="assets/img/Icons/arrow_down_blue.png">
    </a>
</div>