<div id="aboutme" class="project-section">
    <h2 data-aos="fade-up">About me</h2>
    <div class="content-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error maxime illo nostrum dolores, sit nulla
        quae. Accusantium labore, facere voluptatibus, totam, molestiae maxime earum et tempora illum quisquam
        voluptate? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam in quae voluptatem incidunt nam
        inventore. Labore non voluptate quibusdam aut inventore eius culpa deleniti error natus. Dolor dolore adipisci
        odit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam ab minima reiciendis repellat ipsam
        incidunt nam eaque, natus mollitia voluptas magni illo aut eos amet earum, omnis vitae blanditiis.
        o nostrum dolores, sit nulla quae. Accusantium labore, facere voluptatibus, totam, molestiae maxime earum et
        tempora illum quisquam voluptate? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam in quae
        voluptatem incidunt nam inventore. Labore non voluptate quibusdam aut inventore eius culpa deleniti error natus.
        Dolor dolore adipisci odit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam ab minima reiciendis repellat ipsam
        incidunt nam eaque, natus mollitia voluptas magni illo aut eos amet earum, omnis vitae blanditiis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur illo unde soluta ut, deleniti
        assumenda dolore fugit, reiciendis earum similique enim pariatur. Blanditiis cumque doloribus quaerat dolore a
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur illo unde soluta ut, deleniti
        assumenda dolore fugit, reiciendis earum similique enim pariatur. Blanditiis cumque doloribus quaerat dolore
        aperiam sunt.
    </div>

    <div class="about-img-container">
        <img class="about-img" src="assets/img/mountains.png">
        <div class="motto-container">
            "You have to try the impossible to <br> achieve the best possible!"
        </div>
        <div class="info-container">
            <p class="text-color">E M A I L</p>
            PeterSteinlesberger@mail.de
            <p class="text-color">R O L E</p>
            Frontend Developer
            <p class="text-color">P H O N E</p>
            +49 (0)176 985 331 222
        </div>

    </div>

    <div class="content-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error maxime illo nostrum dolores, sit nulla
        quae. Accusantium labore, facere voluptatibus, totam, molestiae maxime earum et tempora illum quisquam
        voluptate? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam in quae voluptatem incidunt nam
        inventore. Labore non voluptate quibusdam aut inventore eius culpa deleniti error natus. Dolor dolore adipisci
        odit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam ab minima reiciendis repellat ipsam
        incidunt nam eaque, natus mollitia voluptas magni illo aut eos amet earum, omnis vitae blanditiis.
        o nostrum dolores, sit nulla quae. Accusantium labore, facere voluptatibus, totam, molestiae maxime earum et
        tempora illum quisquam voluptate? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam in quae
        voluptatem incidunt nam inventore. Labore non voluptate quibusdam aut inventore eius culpa deleniti error natus.
        Dolor dolore adipisci odit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quibusdam ab minima reiciendis repellat ipsam
        incidunt nam eaque, natus mollitia voluptas magni illo aut eos amet earum, omnis vitae blanditiis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur illo unde soluta ut, deleniti
        assumenda dolore fugit, reiciendis earum similique enim pariatur. Blanditiis cumque doloribus quaerat dolore a
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consectetur illo unde soluta ut, deleniti
        assumenda dolore fugit, reiciendis earum similique enim pariatur. Blanditiis cumque doloribus quaerat dolore
        aperiam sunt.
        <br> <br> <br>    
    </div>
  <div class="signature-container">  <img class="signature-img" src="assets/img/white_signature.png"></div>
   
</div>