.project-section {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.content-container {
    height: 430px;
    width: 100%;
    padding-top: 65px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: black;
    box-sizing: border-box;
    line-height: 24px;
}

.about-img-container {
    position: relative;
    height: 520px;
    width: 100%;
    padding-top: 65px;
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
}

.about-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

.motto-container {
    width: 418px;
    margin-top: 92px;
    font-size: 28px;
    color: rgb(0, 123, 255);
    line-height: 30px;
}

.info-container {
    position: absolute;
    top: 217px;
    right: 462px;
    height: 300px;
    width: 442px;
    padding: 0px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    box-sizing: border-box;
    background-color: rgb(33, 33, 34);
}

.text-color {
    margin-bottom: 2px;
    margin-top: 30px;
    color: rgb(255, 153, 0);
}

.signature-container {
    height: 250px;
    width: 100%;
    padding-top: 5px;
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
}

.signature-img {
    height: 80px;
    margin-left: -2px;
}

/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1700px) {
    .info-container {
        right: 380px;
        height: 240px;
        width: 340px;
    }

    .motto-container {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1500px) {
    .content-container {
        padding: 24px 180px 24px 180px;
    }

    .about-img-container {
        padding: 24px 180px 0px 180px;
    }

    .info-container {
        right: 280px;
    }

    .motto-container {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 1340px) {
    .info-container {
        right: 280px;
        width: 320px;
        height: 240px;
        font-size: 18px;
    }

    .motto-container {
        margin-top: 70px;
        width: 386px;
    }
}

@media only screen and (max-width: 1200px) {
    .content-container {
        padding: 24px 140px 24px 140px;
    }

    .about-img-container {
        padding: 64px 140px 0px 140px;
    }

    .info-container {
        top: 270px;
        right: 240px;
        width: 254px;
        height: 200px;
        font-size: 15px;
        padding: 32px;
    }

    .text-color {
        margin-top: 12px;
    }

    .motto-container {
        margin-top: 48px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    .content-container {
        padding: 0px 80px 0px 80px;
        height: unset;
    }

    .about-img-container {
        padding: 24px 80px 0px 80px;
    }

    .info-container {
        right: 200px;
        width: 270px;
        height: 180px;
        font-size: 15px;
        padding: 28px;
    }

    .motto-container {
        margin-top:62px;
    }
}

@media only screen and (max-width: 940px) {
    .motto-container {
        margin-top: 162px;
        width: 100%;
        margin-bottom: 32px;
    }

    .about-img-container {
        height: unset;
    }
}

@media only screen and (max-width: 768px) {
    .content-container {
        padding: 0px 48px 0px 48px;
    }

    .about-img-container {
        padding: 24px 48px 0px 48px;
    }

    .about-img {
        height: unset;
    }

    .info-container {
        right: 200px;
        top: 300px;
        width: 270px;
        height: 180px;
        font-size: 15px;
        padding: 0 14px 0 14px;
    }

    .motto-container {
        margin-top:162px;
    }
}

@media only screen and (max-width: 680px) {
    .info-container {
        right: 160px;
        top: 260px;
    }
}

@media only screen and (max-width: 580px) {
    .info-container {
        right: 140px;
        top: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .content-container {
        padding: 0px 24px 0px 24px;
        font-size: 22px;
    }

    .about-img-container {
        padding: 12px 24px 0px 24px;
    }

    .info-container {
        right: 100px;
        top: 170px;
        width: 224px;
        height: 164px;
        font-size: 15px;
        padding: 12px;
    }
}

@media only screen and (max-width: 380px) {
    .info-container {
        right: 0px;
        top: 154px;
        width: 100%;
        height: 220px;
        font-size: 20px;
        padding: 32px;
    }

    .motto-container {
        margin-top: 246px;
        width: 100%;
    }
}
