<div id="aboutme" class="project-section">
    <h2 data-aos="zoom-out-up">About me</h2>
    <div class="content-container">
        <p data-aos-delay="200" data-aos-duration="300" data-aos="flip-up">Welcome to my website!</p>
        <p data-aos-delay="250" data-aos-duration="300" data-aos="flip-up">If you are looking for a highly motivated,
            reliable and agile Junior Frontend Developer with a lot of life experience for your team, then you are at
            the right place.</p>
        <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up">My name is Peter Steinlesberger, I am a
            native Austrian and 44 years old.</p>
        <p data-aos-delay="350" data-aos-duration="300" data-aos="flip-up">I love life with all its challenges and enjoy
            the little free time I have with my family of six to the fullest.</p>
        <p data-aos-delay="400" data-aos-duration="300" data-aos="flip-up">Since 2003 I am regularly drawn to distant
            countries. Between 2007 and 2010 I used the time to play poker professionally and also as a digital nomad.
            In 2010 the great love brought me to Germany. Last year we decided to live as digital nomads. Currently we
            live in Paraguay and are planning our next travel destination.</p>
    </div>
    <div class="about-img-container">
        <div class="position-container">
            <div class="transform-container">
                <img data-aos-delay="200" data-aos="fade-right" class="about-img" src="assets/img/volcano_batur.png">
            </div>
            <div class="motto-container">
                <div class="try-the-impossilbe"> Try the impossible &nbsp;</div>
                <div class="motto-text"> to reach the best possible!</div>
            </div>
            <div data-aos-delay="400" data-aos="fade-left" class="info-container">
                <p data-aos-delay="500" data-aos="fade-left" class="text-style">E M A I L</p>
                <span data-aos-delay="650" data-aos="fade-left">PeterSteinlesberger@mail.de</span>
                <p data-aos-delay="550" data-aos="fade-left" class="text-style">R O L E</p>
                <span data-aos-delay="700" data-aos="fade-left">Frontend Developer</span>
                <p data-aos-delay="600" data-aos="fade-left" class="text-style">P H O N E</p>
                <span data-aos-delay="750" data-aos="fade-left">+49 (0)176 985 331 222</span>
            </div>
        </div>
        <div class="second-text-container">
            <p data-aos-delay="250" data-aos-duration="300" data-aos="flip-up">So far, I have gained a lot of
                professional and life experience in a variety of jobs and professions - as a carpenter, croupier, floor
                layer, service fitter and handyman all-rounder. I also had the thrill of starting two retail businesses
                and was able to learn a lot in the process. </p>
            <p data-aos-delay="300" data-aos-duration="300" data-aos="flip-up">You're probably wondering why, at "over
                40", I decided once again to undergo extensive training as a front-end developer at the Developer
                Akademie in Munich. </p>
            <p data-aos-delay="350" data-aos-duration="300" data-aos="flip-up">Well, I love to take in a lot of
                intellectual input and "process" about it (as my wife lovingly puts it), to think about problems and
                find solutions and also to look "outside the box" sometimes. In my former professions, these needs were
                satisfied only to a limited extent. That's why I have also been self-sufficiently occupied with various
                fields of knowledge mostly intensively in the last twenty-five years. Since I come from a very musical
                family it is not surprising that since I was 12 years old I lived out my creativity mainly in producing
                electronic music. Yes, the beginning was still in the Amiga times. :-)</p>
            <p data-aos-delay="400" data-aos-duration="300" data-aos="flip-up">In 2006, I successfully completed
                extensive training in C, C++ and software engineering at the Economic Development Institute of Austria.
                However, at that time my online poker career quickly gained momentum, so I finally decided to pursue
                this profession. In 2010, I ended my career as a poker pro and went back to working in my previous jobs
                for the sake of my family. </p>
            <p data-aos-delay="450" data-aos-duration="300" data-aos="flip-up">And here the circle closes to the above
                mentioned question: Why then again a demanding education as a programmer?!</p>
            <p data-aos-delay="500" data-aos-duration="300" data-aos="flip-up">Because this profession fulfills at least
                four of my preferences:</p>
            <p data-aos-delay="550" data-aos-duration="300" data-aos="flip-up">1. Programming - the never ending story
                of input</p>
            <p data-aos-delay="600" data-aos-duration="300" data-aos="flip-up">2. I have to solve problems by logical
                processes </p>
            <p data-aos-delay="650" data-aos-duration="300" data-aos="flip-up">3. Achieving goals together as a team</p>
            <p data-aos-delay="700" data-aos-duration="300" data-aos="flip-up">4. Designing webapps gives me the
                opportunity to use my creative potential as well</p>
            <p data-aos-delay="750" data-aos-duration="300" data-aos="flip-up">...and it allows me and my family to be
                geographically independent to get to know new countries.</p>
            <p data-aos-delay="800" data-aos-duration="300" data-aos="flip-up">At this point, according to the "script",
                I should provide hard evidence of my skills. Sure I could offer many professional degrees and
                certificates wrapped in a great slider (If you are interested, feel free to view them on my linkedIn
                profile). But that doesn't make a good programmer. It is much more important that you know how to
                program, that you are willing to keep learning, that you can integrate well into the existing team and
                that you can add value to the company in the long run. I would like to give you a taste of the former
                with this webapp and the linked projects. </p>
            <p data-aos-delay="850" data-aos-duration="300" data-aos="flip-up">It is much more important that you know
                how to program, that you are willing to keep learning, that you can integrate well into the existing
                team and that you can add value to the company in the long run. </p>
            <p data-aos-delay="900" data-aos-duration="300" data-aos="flip-up">I would like to give you a taste of the
                former with this webapp and the linked projects.</p>
            <p data-aos-delay="950" data-aos-duration="300" data-aos="flip-up">However, it is certainly best for you and
                invite me to an interview followed by a trial code project. This is the fastest and best way to find out
                if I am the person you are looking for. </p>
        </div>
        <img data-aos-delay="150" data-aos="fade-down" class="signature-img" src="assets/img/white_signature.png">
        <div class="btn-container">
            <!-- Contact Btn -->
            <a href="#contact" class="contact-btn" (mouseenter)="changeImg= true" (mouseleave)="changeImg= false">
                <p data-aos-delay="150" data-aos="fade-down" class="btn-text">CONTACT</p>
                <p data-aos-delay="150" data-aos="fade-down" class="btn-text">ME</p>
                <img data-aos="fade-down" *ngIf="!changeImg" class="arrow-img"
                    src="assets/img/Icons/arrow_down_orange.png">
                <img data-aos="fade-down" *ngIf="changeImg" class="arrow-img"
                    src="assets/img/Icons/arrow_down_blue.png">
            </a>
        </div>
    </div>