.imprint-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 130px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: rgb(33, 33, 34);
    font-size: 20px;
    box-sizing: border-box;
    a {
        color: white;
    }
}

h3 {
    margin: 12px 0;
    font-size: 24px;
}

h5 {
    margin: 10px;
    font-size: 20px;
}

p {
    font-size: 18px;
}

/*
*Meaning of the "only" and "and" keywords:
*only: The only keyword prevents older browsers that do not support media queries with 
*    media features from applying the specified styles. It has no effect on modern browsers.
*and: The and keyword combines a media feature with a media type or other media features.
*    They are all optional. However, if you use not or only, you must also specify a media type.
*/

@media only screen and (max-width: 1500px) {
    .imprint-container {
        padding: 130px 180px 0 180px;
    }
}

@media only screen and (max-width: 1200px) {
    .imprint-container {
        padding: 130px 140px 0 140px;
    }
}

@media only screen and (max-width: 1024px) {
    .imprint-container {
        padding: 130px 80px 0 80px;
    }
}

@media only screen and (max-width: 768px) {
    .imprint-container {
        padding: 116px 46px 0 46px;
    }
}

@media only screen and (max-width: 480px) {
    .imprint-container {
        padding: 100px 24px 0 24px;
    }

    h3 {
        margin: 8px 0;
        font-size: 24px;
    }

    h5 {
        margin: 6px;
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }
}
