.imprint-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 130px;
    padding-left: 300px;
    background-color: rgb(33, 33, 34);
    font-size: 20px;
    box-sizing: border-box;
    a {
        color: white;
    }
}
